.carousel {
	height: 400px;
}

.carousel-item img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border: 3px solid #E84545;
	-webkit-box-shadow: 0px 2px 2px -5px rgba(165, 162, 154, 0.5), 5px 5px 15px 5px rgba(165, 162, 154, 0.5); 
	box-shadow: 0px 2px 2px -5px rgba(165, 162, 154, 0.5), 5px 5px 15px 5px rgba(165, 162, 154, 0.5);
}